parameters:
    level: 6
    paths:
        - src
    ignoreErrors:
        - '#Trait .+ is used zero times and is not analysed#'
    excludePaths:
        - tests
        - vendor

includes:
    - phpstan-baseline.neon
